* {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

body {
  background: #e2e2e2;
  font-family: 'Raleway', sans-serif;
}

.header {
  background: #f2f2f2;
  padding: 3rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Raleway', sans-serif;
}

.header .logo .ap {
  font-weight: 800;
  font-size: 2rem;
  letter-spacing: rem;
}

.header .logo .cleaning__services {
  font-size: 0.7rem;
}

.header .contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  font-family: 'Ralewar', sans-serif;
}

.header .contacts__container .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
}

.header .contacts__container .contact .contact__icon img {
  height: 28px;
  width: 28;
}

.header .contacts__container .contact:nth-child(2) {
  margin-left: 1rem;
  border-left: 2px solid #2121211a;
}

.header .contacts__container .contact:nth-child(2) .contact__icon {
  margin-left: 1rem;
}

.header .contacts__container .contact .contact__info {
  margin-left: 1rem;
}

.header .contacts__container .contact .contact__num {
  margin-top: 0.2rem;
  font-size: 0.8rem;
}

.header .contacts__container .contact .contact__typ {
  font-size: 0.9rem;
}

.nav-bar {
  background: #1bbce8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 58px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-bar .nav-list {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  height: 100%;
}

.nav-bar .nav-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 100%;
  padding: 0 2rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  cursor: pointer;
  color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.nav-bar .nav-list li:hover {
  background-color: #163A45;
}

.nav-bar .nav-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: 200;
  color: #fff;
  width: auto;
  height: 100%;
}

h1 {
  font-size: 3.7rem;
  line-height: 60px;
  font-weight: 900;
  letter-spacing: 0.01rem;
}

.swiper {
  height: 110vh;
  z-index: -1000;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  font-size: 1rem !important;
  height: 10px !important;
}

.swiper-container {
  z-index: -1000;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  font-size: 18px;
  background-image: url("../img/cleaning__1.jpg");
  background-size: cover;
  position: relative;
  z-index: 1000;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-slide:before {
  content: '';
  background-color: rgba(250, 250, 250, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1000;
}

.swiper-slide .swiper-slide__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 70%;
  padding: 2rem;
  margin-left: 5rem;
  margin-bottom: 5rem;
}

.swiper-slide .swiper-slide__left p {
  font-size: 1rem;
  margin-top: 1rem;
  line-height: 2rem;
  width: 90%;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  color: #222222;
}

.cards {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding-bottom: 5rem;
  padding-top: 6rem;
}

.cards__container {
  width: 80%;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -167px;
}

.cards__container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  -ms-flex-preferred-size: 29%;
      flex-basis: 29%;
  padding: 1rem;
  background: #1bbce8;
  font-family: 'Raleway', sans-serif;
  position: relative;
}

.cards__container .card .card__logo {
  background-color: #212121;
  padding: 8px;
  position: absolute;
  top: 0;
  left: 0;
}

.cards__container .card .card__logo img {
  width: 50px;
  height: 50px;
}

.cards__container .card .card__content {
  margin-left: 65px;
}

.cards__container .card p {
  font-size: 14px;
  line-height: 24px;
}

.whyUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem;
  background: #ccc;
  margin-top: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.whyUs .whyUs__itemsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2rem;
}

.whyUs .whyUs__itemsContainer .whyUs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid red;
  height: 200px;
  padding: 2rem 1rem;
  -webkit-box-flex: 400px;
      -ms-flex: 400px 1 1;
          flex: 400px 1 1;
  margin: 1rem 1.5rem;
  border-radius: 5px;
}

.whyUs .whyUs__itemsContainer .whyUs__item h3 {
  margin-top: 0rem;
}

.whyUs .whyUs__itemsContainer .whyUs__item p {
  font-size: 1rem;
  line-height: 1.7rem;
  margin-top: 2rem;
}

.modernCleaning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem;
  background-color: #fff;
  margin-top: 2rem;
}

.modernCleaning h2 {
  font-size: 2.3rem;
  font-weight: 700;
}

.modernCleaning .underline {
  height: 3px;
  background-color: #1bbce8;
  width: 70px;
  margin: .7rem 0;
  margin-top: 1.2rem;
}

.modernCleaning p {
  font-size: 1.1rem;
  text-align: center;
  font-family: 'Lato', sans-serif;
  line-height: 2rem;
  font-weight: 400;
  color: #212121;
  max-width: 600px;
}
