* {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

body {
  background: #e2e2e2;
  font-family: 'Raleway', sans-serif;
}

.contact {
  background: #18c5d9;
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: 'Lato', sans-serif;
}

.contact .logo .ap {
  font-weight: 800;
  font-size: 1.8rem;
  letter-spacing: 1rem;
}

.contact .logo .cleaning__services {
  font-size: 0.7rem;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #e9e9e9;
}

.nav-bar .nav-list {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  height: 100%;
}

.nav-bar .nav-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  border: 1px solid red;
  height: 100%;
  padding: 0 2rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.nav-bar .nav-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 0.8rem;
  color: #212121;
  width: auto;
  height: 100%;
}

h1 {
  font-size: 3.7rem;
  line-height: 78px;
  font-weight: 800;
  letter-spacing: 0.01rem;
}

.swiper {
  height: 100vh;
  z-index: -1000;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  font-size: 1rem !important;
  height: 10px !important;
}

.swiper-container {
  z-index: -1000;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  font-size: 18px;
  background-image: url("../img/cleaning__1.jpg");
  background-size: cover;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-slide .swiper-slide__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 70%;
  padding: 2rem;
  margin-left: 5rem;
}

.swiper-slide .swiper-slide__left p {
  font-size: 0.8rem;
  margin-top: 1rem;
  line-height: 2rem;
  width: 90%;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  color: #222222;
}

.cards {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards__container {
  width: 80%;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -70px;
  z-index: 9999;
}

.cards__container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 150px;
  -ms-flex-preferred-size: 29%;
      flex-basis: 29%;
  padding: 1rem;
  background-color: lightgreen;
  font-family: 'Raleway', sans-serif;
}

.cards__container .card p {
  font-size: 14px;
  line-height: 24px;
}

.whyUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem;
  background: #ccc;
  margin-top: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.whyUs .whyUs__itemsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2rem;
}

.whyUs .whyUs__itemsContainer .whyUs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid red;
  height: 200px;
  padding: 2rem 1rem;
  -webkit-box-flex: 400px;
      -ms-flex: 400px 1 1;
          flex: 400px 1 1;
  margin: 1rem 1.5rem;
  border-radius: 5px;
}

.whyUs .whyUs__itemsContainer .whyUs__item h3 {
  margin-top: 0rem;
}

.whyUs .whyUs__itemsContainer .whyUs__item p {
  font-size: 1rem;
  line-height: 1.7rem;
  margin-top: 2rem;
}

.modernCleaning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem;
}
