.cards{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards__container {
  width: 80%;
  height: 180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: -70px;
  z-index: 9999;

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 150px;
    flex-basis: 29%;
    padding: 1rem;
    background: rgb(27, 188, 232);
    font-family: 'Raleway', sans-serif;

    p{
      font-size: 14px;
      line-height: 24px;
    }
  }
}
