.cards {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding-bottom: 5rem;
  padding-top: 6rem;
}

.cards__container {
  width: 80%;
  height: 180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: -167px;
  //z-index: ;

  .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    flex-basis: 29%;
    padding: 1rem;
    background: #1bbce8;
    font-family: 'Raleway', sans-serif;
    position: relative;

    .card__logo {
      background-color: #212121;
      padding: 8px;
      position: absolute;
      top: 0;
      left: 0;

      img {
        width: 50px;
        height: 50px;
      }
    }

    .card__content{
      margin-left: 65px;
    }

    p {
      font-size: 14px;
      line-height: 24px;
    }
  }
}
