.counters {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: center;
  padding: 9rem 5rem;
  position: relative;
  z-index: -500;
  background: url('../img/cleaning-images/team_cleaning.jpg');

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(22, 58, 69, 0.7);
    z-index: -100;
  }

  .counter__item {
    display: flex;
    align-items: center;
    color: #fafafa;
    z-index: 1000;

    h3,p{
      padding: 1rem;
    }

    h3 {
      font-family: Arial;
      font-size: 5rem;
      font-weight: 700;
    }
    
    p {
      border-left: 2px solid #ccc;
      font-size: .9rem;
    }
  }
}
