.contact__section{
  padding: 5rem;
  background-color: $primaryColor;

  display: flex;
  justify-content: space-around;
  align-items: center;

  .contact__info{
    flex: 0.5;

    h2{
      color: $formColor;
    }

    h2:nth-child(1){
      margin-bottom: 0.1rem;
    }
  }

  .contact__form{
    flex: 0.5;
  }
}

.contact__form{
  form{
    width: 500px;
  }

  .form__element{
    margin: 1rem 1rem;

    input, textarea{
      width: 100%;
      padding: .5rem 1rem;
      border: 2px solid #19272e;
;
      border-radius: 5px;
    }

    .input__field{
      height: 30px;
    }
  }
}