.hero__sliderContainer {
  height: 90vh;
  box-sizing: border-box;

  .swiper-container {
    height: 100%;

    .slide {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
      padding: 0 7rem;
    }

    .content{
      width: 50%;
      background-color: lightgreen;
    }
  }
}
