.hero__sliderContainer {
  height: 100vh;
  box-sizing: border-box;

  @media only screen and (max-width: 769px) {
    height: 400px;
    z-index: -1000;
  }

  @media screen and (max-width: 481px) {
    height: 300px;
  }

  .swiper-container {
    height: 100%;

    @media only screen and (max-width: 769px) {
      z-index: -1000;
    }

    .swiper-slide {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      //@media screen and (max-width: 481px) {
      //  padding: 1rem;
      //}

      .swiper__slideContent {
        width: 50%;
        margin-left: 7rem;

        @media screen and (max-width: 481px) {
          width: 100%;
          margin: 0 2rem;
          text-align: center;
          padding: 0 1rem;
        }

        h1 {
          font-size: 3rem;
          line-height: 3rem;
          color: #ffff00;

          @media only screen and (max-width: 769px) {
            font-size: 2rem;
            font-weight: 500;
            line-height: 2.5rem;
          }

          @media screen and (max-width: 481px) {
            font-size: 1.5rem;
            line-height: 1.8rem;
            //margin-bottom: 0.2rem;    
          }

          br{
            @media screen and (max-width: 481px){
              display: none;
            }
          }
        }

        p {
          line-height: 2rem;
          color: hsl(194, 100%, 5%);
          font-weight: 500;

          @media only screen and (max-width: 769px) {
          }
        }
      }
    }

    .slide__1 {
      background: url('https://media.gettyimages.com/photos/high-angle-view-of-woman-holding-mop-to-wash-floor-picture-id1220206476?k=6&m=1220206476&s=612x612&w=0&h=eXC1D4UNQHVmuhr2nyFY2m-UpYGUt6fRmUgGfgwzWdM=');
    }
    .slide__2 {
      background: url('https://media.gettyimages.com/photos/high-angle-view-of-woman-holding-mop-to-wash-floor-picture-id1220206476?k=6&m=1220206476&s=612x612&w=0&h=eXC1D4UNQHVmuhr2nyFY2m-UpYGUt6fRmUgGfgwzWdM=');
    }
    .slide__3 {
      background: url('https://media.gettyimages.com/photos/high-angle-view-of-woman-holding-mop-to-wash-floor-picture-id1220206476?k=6&m=1220206476&s=612x612&w=0&h=eXC1D4UNQHVmuhr2nyFY2m-UpYGUt6fRmUgGfgwzWdM=');
    }
    .slide__4 {
      background: url('https://media.gettyimages.com/photos/high-angle-view-of-woman-holding-mop-to-wash-floor-picture-id1220206476?k=6&m=1220206476&s=612x612&w=0&h=eXC1D4UNQHVmuhr2nyFY2m-UpYGUt6fRmUgGfgwzWdM=');
    }

    .slide__1,
    .slide__2,
    .slide__3,
    .slide__4 {
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
