#services {
  width: 100%;
  padding: 5rem 6rem;
  box-sizing: border-box;

  h2 {
    font-size: 3rem;
    text-align: center;
  }

  .swiper-button-next::after, .swiper-button-prev::after{
    color: $secondaryColor;
    font-size: 5px !important;
    border: 2px solid $primaryColor;
  }

  .swiper-button-prev::after{
    border: 5px solid $primaryColor !important;

    left: 100px;
  }

  .swiper-button-next::after{
    right: 100px;
  }

  .swiper2 {
    margin-top: 3rem;
    height: 500px;
    width: 100%;

    .slide_1{
      background-image: url(../img/whyUs/gettyimages-949443232-612x612.jpg);
    }
    .slide_2{
      background-image: url(../img/whyUs/gettyimages-1130200250-612x612.jpg);
    }
    .slide_3{
      background-image: url(../img/whyUs/gettyimages-1218528090-612x612.jpg);
    }
    .slide_4{
      background-image: url(../img/whyUs/gettyimages-1208317984-612x612.jpg);
    }
    .slide_5{
      background-image: url(../img/whyUs/gettyimages-1167013950-612x612.jpg);
    }
    .slide_6{
      background-image: url(../img/whyUs/gettyimages-1141409520-612x612.jpg);
    }
    .slide_7{
      background-image: url(../img/whyUs/gettyimages-1133621922-612x612.jpg);
    }
    .slide_7{
      background-image: url(../img/whyUs/gettyimages-1133621922-612x612.jpg);
    }

    .swiperSlide2{
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;
      height: 100%;

      .swiperSlide__image{
        height: 50%;
        background-size: cover;
      }

      .swiperSlide__text{
        height: 50%;
        background: #fafafa;
        padding: 1rem;

        h3{
          font-size: 1.3rem; // 20px
        }

        p{
          line-height: 1.7rem;
          font-size: 0.875rem; // 14px
          font-family: Arial, sans-serif;
          margin-top: .5rem;
        }
      }
    }
  }
}
