#services {
  width: 100%;
  padding: 5rem 6rem;
  box-sizing: border-box;

  h2 {
    font-size: 3rem;
    text-align: center;
  }

  .services__slide {
    margin-top: 3rem;
    height: 500px;
    width: 100%;
  }

  // default styles

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 500px;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  .content{
    
  }
}
}



