.whyUs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  background: #ffffff;
  margin-top: 0;
  flex-wrap: wrap;

  .whyUs__itemsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;

    .whyUs__item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 240px;
      margin: 1rem 1.5rem;
      border-radius: 2px;
      flex: 400px 1 1;

      &:hover .whyUs__itemContent::before{
        width: 100%;
      } 

      &:hover .whyUs__itemContent{
        color: #fafafa;

        .line{
          background-color: $primaryColor;
        }
      }

      .whyUs__itemContent {
        background-color: $primaryColor;
        width: 60%;
        height: 100%;
        box-sizing: border-box;
        padding: 2rem;
        position: relative;
        color: #fafafa;
          z-index: 1;


        &::before{
          content: "";
          width: 0%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-color: #163A45;
          transition: width 0.4s ease;
          z-index: -1;
        }

        .line{
          width: 50px;
          height: 2.5px;
          background-color: #163A45;
          margin: 0.5rem 0;
        }

        h3 {
          font-size: 1.25rem;
        }

        p {
          font-size: 0.9rem;
          font-weight: 300;
          line-height: 1.7rem;
          height: 100%;
          margin-top: 0.5rem;
          font-family: Arial, sans-serif;

        }
      }

      .whyUs__itemImage {
        width: 40%;
        height: 100%;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
