* {
  margin: 0;
  //padding: 0;
  font-family: 'Raleway', sans-serif;
}

body {
  background: rgb(226, 226, 226);
  font-family: 'Raleway', sans-serif;
}

.contact {
  background: #18c5d9;
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: 'Lato', sans-serif;

  .logo {
    .ap {
      font-weight: 800;
      font-size: 1.8rem;
      letter-spacing: 1rem;
    }

    .cleaning__services {
      font-size: 0.7rem;
    }
  }
}

// navigation

.nav-bar {
  //background: #18C5D9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  box-sizing: border-box;
  background-color: rgb(233, 233, 233);

  .nav-list {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 100%;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      border: 1px solid red;
      height: 100%;
      padding: 0 2rem;
      box-sizing: content-box;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      font-family: 'Lato', sans-serif;
      font-size: 0.8rem;
      color: #212121;
      width: auto;
      height: 100%;
    }
  }
}

@import './_swiper';
@import './_cards';
@import './_whyUs';
@import './_modernCleaning';
