@import './variables';

* {
  margin: 0;
  //padding: 0;
  font-family: 'Raleway', sans-serif;
  //box-sizing: border-box;
}

.img{
  display: block;
}

body {
  background: rgb(226, 226, 226);
  font-family: 'Raleway', sans-serif;
}

h2{
  font-size: 2.5rem;
}



@import './header';
@import './navigation';
@import './hero';
@import './cards';
@import './modernCleaning';
@import './whyUs';
@import './services';
@import './counters';
@import './take__advantage';
@import './form';
@import './our-contacts';
@import './footer';